*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}
.body, .body1, .body2{
	background-color: #000;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
.body1, .body2{
	padding-left:19.3%;
}
.pag-prin{
	width: 58%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	position: fixed;
}
.pag-prin2{
	grid-column: 1/13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
#second{
	grid-column: 8/13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
.second2{
	grid-column: 1/7;
}
.second3{
	grid-column: 7/13;
}
.second4{
	height: 35vh;
}
.second5{
	height: 60vh;
}
.second4, .second5{
	display: block;
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left;
	grid-column: 1/13;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}
.des{
	padding-top: 10%;
	width: 100%;
	background-color: rgba(40, 90, 159, .6);
	display: block;
	color: white;
	font-size: 2em;
	grid-column: 8/13;
	text-align: center;
}
.des:hover{
	background-color: rgba(40, 90, 159, 1);
}
.des p{
	font-weight: bold;
	font-size: 1.5em;
	margin-top: 50%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.down-20-1{
	height: 100vh;
	background-image: url(../img/DBS/1manga20.webp);
}
.down-21-1{
	height: 60vh;
	background-image: url(../img/DBS/1manga21.webp);
}
.down-22-1{
	height: 60vh;
	background-image: url(../img/DBS/1manga22.webp);
}

.down-42-1{
	background-image: url(../img/DBS/1manga42.webp);
}
.down-42-2{
	background-image: url(../img/DBS/2manga42.webp);
}
.down-42-3{
	background-image: url(../img/DBS/3manga42.webp);
}
.down-42-4{
	background-image: url(../img/DBS/4manga42.webp);
}
.down-42-4{
	background-image: url(../img/DBS/4manga42.webp);
}
.down-42-5{
	background-image: url(../img/DBS/5manga42.webp);
}
.down-42-6{
	background-image: url(../img/DBS/6manga42.webp);
}
.down-42-7{
	background-image: url(../img/DBS/7manga42.webp);
}
.down-42-8{
	background-image: url(../img/DBS/8manga42.webp);
}
.down-42-9{
	background-image: url(../img/DBS/9manga42.webp);
}
.down-42-10{
	background-image: url(../img/DBS/10manga42.webp);
}
.down-42-11{
	background-image: url(../img/DBS/11manga42.webp);
}

.down-43-1{
	background-image: url(../img/DBS/1manga43.webp);
}
.down-43-2{
	background-image: url(../img/DBS/2manga43.webp);
}
.down-43-3{
	background-image: url(../img/DBS/3manga43.webp);
}
.down-43-4{
	background-image: url(../img/DBS/4manga43.webp);
}
.down-43-5{
	background-image: url(../img/DBS/5manga43.webp);
}
.down-43-6{
	background-image: url(../img/DBS/6manga43.webp);
}
.down-43-7{
	background-image: url(../img/DBS/7manga43.webp);
}
.down-43-8{
	background-image: url(../img/DBS/8manga43.webp);
}
.down-43-9{
	background-image: url(../img/DBS/9manga43.webp);
}
.down-43-10{
	background-image: url(../img/DBS/10manga43.webp);
}
.down-43-11{
	background-image: url(../img/DBS/11manga43.webp);
}
.down-43-12{
	background-image: url(../img/DBS/12manga43.webp);
}
.down-43-13{
	background-image: url(../img/DBS/13manga43.webp);
}
.down-43-14{
	background-image: url(../img/DBS/14manga43.webp);
}
.down-43-15{
	background-image: url(../img/DBS/15manga43.webp);
}
.down-43-16{
	background-image: url(../img/DBS/16manga43.webp);
}
.down-43-17{
	background-image: url(../img/DBS/17manga43.webp);
}
.down-43-18{
	background-image: url(../img/DBS/18manga43.webp);
}
.down-43-19{
	background-image: url(../img/DBS/19manga43.webp);
}
.down-43-20{
	background-image: url(../img/DBS/20manga43.webp);
}
.down-43-21{
	background-image: url(../img/DBS/21manga43.webp);
}
.down-43-22{
	background-image: url(../img/DBS/22manga43.webp);
}
.down-43-23{
	background-image: url(../img/DBS/23manga43.webp);
}
.down-43-24{
	background-image: url(../img/DBS/24manga43.webp);
}

.down-44-1{
	background-image: url(../img/DBS/1manga44.webp);
}
.down-44-2{
	background-image: url(../img/DBS/2manga44.webp);
}
.down-44-3{
	background-image: url(../img/DBS/3manga44.webp);
}
.down-44-4{
	background-image: url(../img/DBS/4manga44.webp);
}
.down-44-5{
	background-image: url(../img/DBS/5manga44.webp);
}
.down-44-6{
	background-image: url(../img/DBS/6manga44.webp);
}
.down-44-7{
	background-image: url(../img/DBS/7manga44.webp);
}
.down-44-8{
	background-image: url(../img/DBS/8manga44.webp);
}
.down-44-9{
	background-image: url(../img/DBS/9manga44.webp);
}
.down-44-10{
	background-image: url(../img/DBS/10manga44.webp);
}
.down-44-11{
	background-image: url(../img/DBS/11manga44.webp);
}
.down-44-12{
	background-image: url(../img/DBS/12manga44.webp);
}
.down-44-13{
	background-image: url(../img/DBS/13manga44.webp);
}
.down-44-14{
	background-image: url(../img/DBS/41manga44.webp);
}
.down-44-15{
	background-image: url(../img/DBS/15manga44.webp);
}
.down-44-16{
	background-image: url(../img/DBS/16manga44.webp);
}
.down-44-17{
	background-image: url(../img/DBS/17manga44.webp);
}
.down-44-18{
	background-image: url(../img/DBS/18manga44.webp);
}
.down-44-19{
	background-image: url(../img/DBS/19manga44.webp);
}
.down-44-20{
	background-image: url(../img/DBS/20manga44.webp);
}
.down-44-21{
	background-image: url(../img/DBS/21manga44.webp);
}
.down-44-22{
	background-image: url(../img/DBS/22manga44.webp);
}
.down-44-23{
	background-image: url(../img/DBS/23manga44.webp);
}
.down-44-24{
	background-image: url(../img/DBS/24manga44.webp);
}
.down-44-25{
	background-image: url(../img/DBS/25manga44.webp);
}
.down-44-26{
	background-image: url(../img/DBS/26manga44.webp);
}
.down-44-27{
	background-image: url(../img/DBS/27manga44.webp);
}
.down-44-28{
	background-image: url(../img/DBS/28manga44.webp);
}
.down-44-29{
	background-image: url(../img/DBS/29manga44.webp);
}
.down-44-30{
	background-image: url(../img/DBS/30manga44.webp);
}
.down-44-31{
	background-image: url(../img/DBS/31manga44.webp);
}
.down-44-32{
	background-image: url(../img/DBS/32manga44.webp);
}
.down-44-33{
	background-image: url(../img/DBS/33manga44.webp);
}
.down-44-34{
	background-image: url(../img/DBS/34manga44.webp);
}
.down-44-35{
	background-image: url(../img/DBS/35manga44.webp);
}
.down-44-36{
	background-image: url(../img/DBS/36manga44.webp);
}
.down-44-37{
	background-image: url(../img/DBS/37manga44.webp);
}
.down-44-38{
	background-image: url(../img/DBS/38manga44.webp);
}
.down-44-39{
	background-image: url(../img/DBS/39manga44.webp);
}
.down-44-40{
	background-image: url(../img/DBS/40manga44.webp);
}
.down-44-41{
	background-image: url(../img/DBS/41manga44.webp);
}
.down-44-42{
	background-image: url(../img/DBS/42manga44.webp);
}
.down-44-43{
	background-image: url(../img/DBS/43manga44.webp);
}
.down-44-44{
	background-image: url(../img/DBS/44manga44.webp);
}
.down-44-45{
	background-image: url(../img/DBS/45manga44.webp);
}
.down-44-46{
	background-image: url(../img/DBS/46manga44.webp);
}
.down-44-47{
	background-image: url(../img/DBS/47manga44.webp);
}
.down-44-48{
	background-image: url(../img/DBS/48manga44.webp);
}
.down-44-49{
	background-image: url(../img/DBS/49manga44.webp);
}

.down-45-1{
	background-image: url(../img/DBS/1manga45.webp);
}
.down-45-2{
	background-image: url(../img/DBS/2manga45.webp);
}
.down-45-3{
	background-image: url(../img/DBS/3manga45.webp);
}
.down-45-4{
	background-image: url(../img/DBS/4manga45.webp);
}
.down-45-5{
	background-image: url(../img/DBS/5manga45.webp);
}
.down-45-6{
	background-image: url(../img/DBS/6manga45.webp);
}
.down-45-7{
	background-image: url(../img/DBS/7manga45.webp);
}
.down-45-8{
	background-image: url(../img/DBS/8manga45.webp);
}
.down-45-9{
	background-image: url(../img/DBS/9manga45.webp);
}
.down-45-10{
	background-image: url(../img/DBS/10manga45.webp);
}
.down-45-11{
	background-image: url(../img/DBS/11manga45.webp);
}
.down-45-12{
	background-image: url(../img/DBS/12manga45.webp);
}
.down-45-13{
	background-image: url(../img/DBS/13manga45.webp);
}
.down-45-14{
	background-image: url(../img/DBS/14manga45.webp);
}
.down-45-15{
	background-image: url(../img/DBS/15manga45.webp);
}
.down-45-16{
	background-image: url(../img/DBS/16manga45.webp);
}
.down-45-17{
	background-image: url(../img/DBS/17manga45.webp);
}
.down-45-18{
	background-image: url(../img/DBS/18manga45.webp);
}
.down-45-19{
	background-image: url(../img/DBS/19manga45.webp);
}
.down-45-20{
	background-image: url(../img/DBS/20manga45.webp);
}
.down-46-1{
	background-image: url(../img/DBS/1manga46.webp);
}
.down-46-2{
	background-image: url(../img/DBS/2manga46.webp);
}
.down-46-3{
	background-image: url(../img/DBS/3manga46.webp);
}
.down-46-4{
	background-image: url(../img/DBS/4manga46.webp);
}
.down-46-5{
	background-image: url(../img/DBS/5manga46.webp);
}
.down-47-1{
	background-image: url(../img/DBS/1manga47.webp);
}
.down-47-2{
	background-image: url(../img/DBS/2manga47.webp);
}
.down-47-3{
	background-image: url(../img/DBS/3manga47.webp);
}
.down-47-4{
	background-image: url(../img/DBS/4manga47.webp);
}
.down-47-5{
	background-image: url(../img/DBS/5manga47.webp);
}
.down-47-6{
	background-image: url(../img/DBS/6manga47.webp);
}
.down-47-7{
	background-image: url(../img/DBS/7manga47.webp);
}
.down-47-8{
	background-image: url(../img/DBS/8manga47.webp);
}
.down-47-9{
	background-image: url(../img/DBS/9manga47.webp);
}
.down-47-10{
	background-image: url(../img/DBS/10manga47.webp);
}
.down-47-11{
	background-image: url(../img/DBS/11manga47.webp);
}
.down-47-12{
	background-image: url(../img/DBS/12manga47.webp);
}
.down-47-13{
	background-image: url(../img/DBS/13manga47.webp);
}
.down-47-14{
	background-image: url(../img/DBS/14manga47.webp);
}
.down-47-15{
	background-image: url(../img/DBS/15manga47.webp);
}
.down-47-16{
	background-image: url(../img/DBS/16manga47.webp);
}
.down-47-17{
	background-image: url(../img/DBS/17manga47.webp);
}
.down-47-18{
	background-image: url(../img/DBS/18manga47.webp);
}
.down-48-1{
	background-image: url(../img/DBS/1manga48.webp);
}
.down-48-2{
	background-image: url(../img/DBS/2manga48.webp);
}
.down-48-3{
	background-image: url(../img/DBS/3manga48.webp);
}
.down-48-4{
	background-image: url(../img/DBS/4manga48.webp);
}
.down-48-5{
	background-image: url(../img/DBS/5manga48.webp);
}
.down-48-6{
	background-image: url(../img/DBS/6manga48.webp);
}
.down-48-7{
	background-image: url(../img/DBS/7manga48.webp);
}
.down-48-8{
	background-image: url(../img/DBS/8manga48.webp);
}
.down-48-9{
	background-image: url(../img/DBS/9manga48.webp);
}
.down-48-10{
	background-image: url(../img/DBS/10manga48.webp);
}
.down-48-11{
	background-image: url(../img/DBS/11manga48.webp);
}
/* MANGA50 DESCARGAS */
.down-50-1{
	background-image: url(../img/DBS/1manga50.webp);
}
.down-50-2{
	background-image: url(../img/DBS/2manga50.webp);
}
.down-50-3{
	background-image: url(../img/DBS/3manga50.webp);
}
.down-50-4{
	background-image: url(../img/DBS/4manga50.webp);
}
.down-50-5{
	background-image: url(../img/DBS/5manga50.webp);
}

/* MANGA66 DESCARGAS */
.down-66-1{
	background-image: url(../img/DBS/1manga66.webp);
}
.down-66-2{
	background-image: url(../img/DBS/2manga66.webp);
}
.down-66-3{
	background-image: url(../img/DBS/3manga66.webp);
}
.down-66-4{
	background-image: url(../img/DBS/4manga66.webp);
}
.down-66-5{
	background-image: url(../img/DBS/5manga66.webp);
}
.down-66-6{
	background-image: url(../img/DBS/6manga66.webp);
}
.down-66-7{
	background-image: url(../img/DBS/7manga66.webp);
}
/* MANGA67 DESCARGAS */
.down-67-1{
	background-image: url(../img/DBS/1manga67.webp);
}
.down-67-2{
	height: 100vh;
	background-image: url(../img/DBS/2manga67.webp);
}
.down-67-3{
	background-image: url(../img/DBS/3manga67.webp);
}
.down-67-4{
	background-image: url(../img/DBS/4manga67.webp);
}
.down-67-5{
	background-image: url(../img/DBS/5manga67.webp);
}
.down-67-6{
	background-image: url(../img/DBS/6manga67.webp);
}
.down-67-7{
	background-image: url(../img/DBS/7manga67.webp);
}
/* MANGA68 DESCARGAS */
.down-68-1{
	background-image: url(../img/DBS/PortaManga68.webp);
}
.down-68-2{
	background-image: url(../img/DBS/2manga68.webp);
}
.down-68-3{
	background-image: url(../img/DBS/3manga68.webp);
}
.down-68-4{
	background-image: url(../img/DBS/4manga68.webp);
}
.down-68-5{
	background-image: url(../img/DBS/5manga68.webp);
}
.down-68-6{
	background-image: url(../img/DBS/6manga68.webp);
}
.down-68-7{
	background-image: url(../img/DBS/7manga68.webp);
}
/* MANGA69 DESCARGAS */
.down-69-1{
	background-image: url(../img/DBS/1manga69.webp);
}
.down-69-2{
	background-image: url(../img/DBS/2manga69.webp);
}
.down-69-3{
	background-image: url(../img/DBS/3manga69.webp);
}
.down-69-4{
	background-image: url(../img/DBS/4manga69.webp);
}
.down-69-5{
	background-image: url(../img/DBS/5manga69.webp);
}
.down-69-6{
	background-image: url(../img/DBS/6manga69.webp);
}
.down-69-7{
	background-image: url(../img/DBS/7manga69.webp);
}
.down-69-8{
	background-image: url(../img/DBS/8manga69.webp);
}
.down-69-9{
	background-image: url(../img/DBS/9manga69.webp);
}
.down-69-10{
	background-image: url(../img/DBS/10manga69.webp);
}
.down-69-11{
	background-image: url(../img/DBS/11manga69.webp);
}
.down-69-12{
	background-image: url(../img/DBS/12manga69.webp);
}
.down-69-13{
	background-image: url(../img/DBS/13manga69.webp);
}
.down-69-14{
	background-image: url(../img/DBS/14manga69.webp);
}
.down-69-15{
	background-image: url(../img/DBS/15manga69.webp);
}
.down-69-16{
	background-image: url(../img/DBS/16manga69.webp);
}
.down-69-17{
	background-image: url(../img/DBS/17manga69.webp);
}
.down-69-18{
	background-image: url(../img/DBS/18manga69.webp);
}
.down-69-19{
	background-image: url(../img/DBS/19manga69.webp);
}
.down-69-20{
	background-image: url(../img/DBS/20manga69.webp);
}
.down-69-21{
	background-image: url(../img/DBS/21manga69.webp);
}
.down-69-22{
	background-image: url(../img/DBS/22manga69.webp);
}
.down-69-23{
	background-image: url(../img/DBS/23manga69.webp);
}
.snk-down-91-40{
	background-image: url(../img/snk/40manga91.webp);
}
.snk-down-92-8{
	height: 100vh;
	background-image: url(../img/SNK/8manga92.webp);
}
.bardock{
	background-color: rgba(135, 135, 135, 0.55);
	background-image: url(../img/DBS/Bardock-tw.webp);
}
.banera{
	background-color: rgba(192, 173, 150, 1);
	background-image: url(../img/DBS/goku-gohan.webp);
}
.kaioken{
	background-color: rgba(16, 48, 80, 1);
	background-image: url(../img/DBS/kaioken.webp);
}
.portd-manga68{
	background-color: rgba(136, 214, 0, 1);
	background-image: url(../img/DBS/PortaManga68.webp);
}
.venganza{
	background-color: rgba(40, 7, 90, 1);
	background-image: url(../img/DBS/venganza.webp);
}
.vegetto3{
	background-image: url(../img/DBS/vegetto3.webp);
}
.vegetto{
	background-color: rgba(214, 0, 86, 1);
	background-image: url(../img/DBS/vegetto.webp);
}
.dabura{
	background-color: rgba(0, 0, 0, 1);
	background-image: url(../img/DBS/dabura.webp);
}
.baby{
	background-color: rgba(255, 255, 255, 1);
	background-image: url(../img/DBS/baby.webp);
}
.hildegan{
	background-color: rgba(0, 0, 0, 1);
	background-image: url(../img/DBS/hildegan.webp);
}
.vegetto-zamas{
	height: 100vh;
	background-color: rgba(0, 0, 0, 1);
	background-image: url(../img/DBS/vegetto-zamas.webp);
}

.pag-prin3{
	left: 0;
	width: 19.3%;
	position: fixed;
}

header{
	border: grey solid 2px;
	height: 100vh;
	grid-column: 1/5;
	background: #000;
	/* display: none; */
}
#header2{
	left: 0;
	display: none;
	width: 33%;
	border: grey solid 2px;
	height: 100vh;
	position: fixed;
	background: #000;
}

.saga p{
	text-align: center;
	color: white;
	display: block;
	padding: 10px;
	text-decoration: none;
}
.saga p:hover {
	background-color: #03c480;
	color: black;
	font-weight: bold;
}
.saga1{
	background-color: #347961;
	text-align: center;
	display: block;
	padding: 10px;
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.menu{
	display: none;
	cursor: pointer;
	z-index: 10;
	position: fixed;
	bottom: 5%;
	right: 20px;
}
.menu img{
	width: 55px;
}
.atras{
	bottom: 17%;
}
.video{
	bottom: 9%;
}
.como{
	top: 5%;
	left: 22%;
}
.atras, .video{
	left: 7%;
}
.atras, .video, .como{
	display: block;
	z-index: 10;
	position: fixed;
}
.atras img, .video img, .como img{
	width: 45px;
}

.navbar .home img{
	width: 70px;
	display: block;
	margin: 30px auto;
}
.navbar img{
	width: 30px;
}
.social {
	display: flex;
	margin-bottom: auto;
}
.social a{
	display: block;
	margin: auto;
}
#donate{
	display: block;
	margin: auto;
	width: 60px;
}
.ads{
	width: 32%;
}
.ads2{
	width: 97%;
}
.ads, .ads2{
	position: absolute;
	left: 3px;
	bottom: 1px;
	display: flex;
	background: #004746
}
a .ads-img{
	width: 70px;
}
.parr{
	margin: auto;
}
.parr p{
	font-size: 1em;
	color: white;
	text-align: center;
}
.titulo2{
	padding-top: 20%;
	font-size: 2em;
	color: #68fd7f;
}
.titulo{
	padding-top: 90%;
	font-size: 1.5em;
	color: #fff;
}
.titulo, .titulo2{
	margin: 0 5%;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
.title {
	background: rgba(0, 0, 0, 0.55);
}
.contenido{
	height: 100vh;
	grid-column: 5/13;
	background: #4a9400;
	background-image: url(../img/DBS/fondo.webp);
}
#contenido2{
	display: none;
	height: 100vh;
	grid-column: 5/13;
	background: #4a9400;
	background-image: url(../img/DBS/fondo.webp);
}

.portada1{
	grid-column: 1/9;
	width: 100%;
	height: 100%;
	background-image: url(../img/DBS/granola.webp);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;

}
#second div{
	height: 50vh;
}
.part1, .part3, .part5{
	grid-column: 1/7;
}
.part2, .part4, .part6{
	grid-column: 7/13;
}
#part0{
	grid-column: 1/13;
	background-image: url(../img/DBS/lineaoriginal.webp);
	height: 40vh;
}
.categories{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	-webkit-filter: brightness(60%);
	filter: brightness(60%);
	transition:all 15s;
}
.categories:hover{
	-webkit-filter: brightness(100%);
	filter: brightness(100%);
	transition:all 1s;
}
.part1{
	/* width: 100%;
	height: 100%; */
	background-image: url(../img/DBS/PortaManga68.webp);
	/* background-repeat: no-repeat;
	background-size: cover;
	background-position: center; */
}
.part2{
	/* width: 100%;
	height: 100%; */
	background-image: url(../img/DBS/banner-moro.webp);
	/* background-repeat: no-repeat;
	background-size: cover;
	background-position: center; */
}
.part3{
	background-image: url(../img/DBS/1manga20.webp);
}
.part4{
	background-image: url(../img/DBS/Bardock-tw.webp);
}
.part5{
	background-image: url(../img/SNK/40manga91.webp);
}
.part1-m20{
	background-image: url(../img/DBS/1manga20.webp);
}
.part1-m21{
	background-image: url(../img/DBS/1manga21-1.webp);
}
.part1-m22{
	background-image: url(../img/DBS/1manga22.webp);
}
.part1-m42{
	background-image: url(../img/DBS/1manga42.webp);
}
.part1-m43{
	background-image: url(../img/DBS/1manga43.webp);
}
.part1-m44{
	background-image: url(../img/DBS/3manga44.webp);
}
.part1-m45{
	background-image: url(../img/DBS/1manga45.webp);
}
.part1-m46{
	background-image: url(../img/DBS/2manga46.webp);
}
.part1-m47{
	background-image: url(../img/DBS/7manga47.webp);
}
.part1-m48{
	background-image: url(../img/DBS/4manga48.webp);
}

.part1-m50{
	background-image: url(../img/DBS/1manga50.webp);
}
.part1-m66{
	background-image: url(../img/DBS/1manga66.webp);
}
.part1-m67{
	background-image: url(../img/DBS/1manga67.webp);
}
.part1-m68{
	background-image: url(../img/DBS/2manga68.webp);
}
.part1-m69{
	background-image: url(../img/DBS/1manga69.webp);
}
.part1-m70{
	background-image: url(../img/DBS/2manga68.webp);
}
.part1-m71{
	background-image: url(../img/DBS/2manga68.webp);
}

/* Shingeki no Kyojin */
.part1-m91{
	background-image: url(../img/snk/40manga91.webp);
}
.part1-m92{
	background-image: url(../img/snk/8manga92.webp);
}
.tmanga{
	text-align: center;
	font-size: 2em;
	color: #fff;
	background: rgba(150,25,3,1);
	background: -moz-linear-gradient(left, rgba(150,25,3,1) 0%, rgba(6,77,132,0.95) 11%, rgba(160,13,79,0.85) 31%, rgba(20,97,56,0.76) 52%, rgba(6,67,132,0.64) 77%, rgba(129,96,14,0.53) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(150,25,3,1)), color-stop(11%, rgba(6,77,132,0.95)), color-stop(31%, rgba(160,13,79,0.85)), color-stop(52%, rgba(20,97,56,0.76)), color-stop(77%, rgba(6,67,132,0.64)), color-stop(100%, rgba(129,96,14,0.53)));
	background: -webkit-linear-gradient(left, rgba(150,25,3,1) 0%, rgba(6,77,132,0.95) 11%, rgba(160,13,79,0.85) 31%, rgba(20,97,56,0.76) 52%, rgba(6,67,132,0.64) 77%, rgba(129,96,14,0.53) 100%);
	background: -o-linear-gradient(left, rgba(150,25,3,1) 0%, rgba(6,77,132,0.95) 11%, rgba(160,13,79,0.85) 31%, rgba(20,97,56,0.76) 52%, rgba(6,67,132,0.64) 77%, rgba(129,96,14,0.53) 100%);
	background: -ms-linear-gradient(left, rgba(150,25,3,1) 0%, rgba(6,77,132,0.95) 11%, rgba(160,13,79,0.85) 31%, rgba(20,97,56,0.76) 52%, rgba(6,67,132,0.64) 77%, rgba(129,96,14,0.53) 100%);
	background: linear-gradient(to right, rgba(150,25,3,1) 0%, rgba(6,77,132,0.95) 11%, rgba(160,13,79,0.85) 31%, rgba(20,97,56,0.76) 52%, rgba(6,67,132,0.64) 77%, rgba(129,96,14,0.53) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#961903', endColorstr='#81600e', GradientType=1 );
}
.categories3{
	height: 100vh;
}
.categories2{
	height: 50vh;
}
.categories2, .categories3{
	display: block;
	grid-column: 1/13;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.categories2:hover, .categories3:hover{
	border: solid black 1px;
}
p , a, h4{
	font-family: 'Raleway', sans-serif;
}
a{
	text-decoration: none;
}

/* Modal */
#miModal:target, #miModal2:target, #comodesc:target{
  opacity:1;
  pointer-events:auto;
	z-index: 10;
}
.modal{
	width: 60%;
	border: #836a2f solid 3px;
  background-color: rgba(0, 0, 0, .7);
}
.modal2{
	width: 80%;
}
.modal, .modal2{
  position:fixed;
  top:5%;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
	margin: auto;
}
.modal-contenido, .modal-contenido2{
  width:90%;
  position: relative;
	margin: auto;
}
.modal-contenido h4{
	color: white;
	font-size: 1.5em;
}
.modal-contenido p{
	color: white;
	font-size: 1em;
}
.modal-contenido ul li{
	font-size: 15px;
	color: white;
}
.modal-close, .modal-close2{
	position: absolute;
	right: -85px;
}
.money{
	display: flex;
}
.money a{
	margin: auto;
}
.patreon{
	background: #42ff87;
	border-radius: 5px;
	display: block;
}
.patreon img{
	width: 100px;
	padding: 0 5px;
}
.bitcoin img{
	display: block;
	margin: auto;
	width: 80px;
	padding: 0 5px;
}
.bitcoin p{
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	font-size: 15px;
	color: #36ab5d;
}

.paypal img{
	width: 70px;
	padding: 0 5px;
}
.focus-img{
	width: 90%;
}
.emerg{
	height: 10vh;
}
@media (max-width: 800px){
	#qr{
		width: 60%;
	}
	.pag-prin, .pag-prin3{
		display: none;
	}
	.body1{
		padding-left:0
	}
	.body2{
		padding-left:33%;
	}
	#contenido2, #header2{
		display: block;
	}
	.ads2{
		width: 98%;
		position: absolute;
		left: 3px;
		bottom: 1px;
		display: flex;
		background: #004746
	}
	#second{
		grid-column: 5/13;
	}
	.second2{
		grid-column: 5/13;
	}
	.second3{
		grid-column: 5/13;
	}
	.second4{
		height: 40vh;
	}
	.second5{
		height: 80vh;
	}
	.modal2{
		width: 90%;
		top:5%
	}
	.modal-close2{
		right: 0;
	}
	.como{
		left: 35%;
	}

}
@media (max-width: 650px){
	.menu{
		display: block;
	}
	#contenido2{
		grid-column: 1/13;
	}
	#header2{
		display: none;
	}
	#contenido2.active{
		-webkit-filter: brightness(50%);
		filter: brightness(50%);
		z-index: -1;
	}
	#header2.active1{
		left: 0;
		display: block;
		width: 70%;
	}
	#second{
		grid-column: 1/13;
	}
	#second.active2{
		z-index: -1;
		-webkit-filter: brightness(50%);
		filter: brightness(50%);
	}
	.modal{
		top:0;
		width: 80%;
	}
	.modal2{
		width: 100%;
		top:0
	}
	.modal-contenido2{
		width: 100%;
	}
	.second2, .second3{
		grid-column: 1/13;
	}
	.categories2{
		height: 70vh;
	}
	.tmanga{
		font-size: 3em;
	}
	.body2{
		padding-left:0;
	}
	.second4{
		height: 50vh;
		background-size: cover;
	}
	.second4, .second5{
		background-position: center;
	}
	.second5{
		height: 100vh;
	}
	.atras{
		background-color: rgba(223, 127, 67, 1);
		border-radius: 50%;
	}
	.video{
		left: 45%;
	}
	.atras, .video{
		bottom: 5%;
		width: 60px;
		height: 60px;
	}
	.atras img, .video img{
		display: block;
		margin: 8px auto;
	}
	.como{
		left: 7%;
	}
	.emerg{
		display: none
	}
	.des{
		grid-column: 5/13;
	}
}
@media (max-width: 500px){
	.categories{
		grid-column: 1/13;
		height: 100vh;
	}
	.title{
		font-size: 50px;
	}
	#header2.active1{
		width: 80%;
	}
	.modal{
		margin-left: 5px;
	}
	.kaioken{
		background-size: cover;
	}
	.video{
		left: 42%;
	}
}
@media (max-width: 300px){
	.video{
		left: 38%;
	}
}
