RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/$ $1..html
RewriteRule ^([^/]+)/([^/]+)/$ /$1/$2.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.[a-zA-Z0-9]{1,5}|/)$
RewriteRule (.*)$ /$1/ [R=301,L]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^tudominio.org.es [NC]
RewriteRule ^(.*)$ http://www.tudominio.org.es/$1 [L,R=301]